.git
Dockerfile*

# .gitignore file
*.py[co]
*/*.py[co]
*/*/*.py[co]
__pycache__
*/__pycache__
*/*/__pycache__
.eggs
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
pip-log.txt
.coverage
.tox
htmlcov
*.mo
.mr.developer.cfg
config.py
.*.sw[po]
